/* CAREERS INFO */
#career-info {
    background: var(--secondary-color);
    border: 5px solid var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
    padding: 20px;
}

#career-info ul {
    list-style-type: none;
    color: var(--beige);
    padding-left: 25px;
    text-align: center;
}

#career-info li {
    line-height: 40px;
}

#career-img {
    max-width: 100%;
}

#positions {
    display: flex;
    justify-content: center;
    align-items: center;
}




/* CAREERS FORM */
#careers-form section {
    margin: 25px 0px;
    padding: 0px 25px;
}

#work-appli-form label, #work-appli-form input, #work-appli-form select {
    line-height: 20px;
    margin: 10px;
    text-align: left;
    margin-left: 40px;
    display: flex;
}

#btn-career-form {
    background: var(--secondary-color);
    margin: 5px;
    padding: 5px 15px;
    margin-bottom: 0px;
    color: var(--beige);
    border-radius: 6%;
    border-color: var(--secondary-light);
}

#btn, span {
    display: flex;
    justify-content: center;
    margin: 5px;
}

/* LARGE RESOLUTIONS */
@media only screen and (min-width: 800px) { 
    /* CAREERS INFO */
    #career-info {
        max-width: 50%;
    }
    #career-info ul {
        text-align: left;
        line-height: 15px;
        margin: 0px;
    }


    
    /* CAREERS FORM */
    #form {
        margin-top: 40px;
    }
}