/* CONTACT FORM */
#contact-form {
    display: flex;
    justify-content: center;
    text-align: center;
}

#form {
    margin: 25px 0px;
    text-align: center;
}

#contactImg {
    width: 100%;
    height: 100%;
}

#contact-inputs {
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align: left;
}

#contact-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: left;
}

#contact-inputs div {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#contact-inputs p {
    margin: 0;
    padding: 0;
}

#btn-contact-submit {
    background: var(--secondary-color);
    padding: 5px 15px;
    margin-bottom: 0px;
    color: var(--beige);
    border-radius: 6%;
    border-color: var(--secondary-light);
    display: block;
    margin: 0 auto;
}


/* CONTACT SOCIALS */
#socials {
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 20px 80px;
}

#socials div {
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    max-width: 100%;
}

#img-socials img {
    max-width: 200px;
    max-height: 200px;
}

#socials-desc {
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
}


/* CONTACT SOCIALS LIST */
#socials-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#socials-list li {
    line-height: 40px;
    color: var(--secondary-light)
}



/* CONTACT MAP */
#map {
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--secondary-color);
}

#map div {
    padding: 2%;
}

#map-desc {
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    font-size: 30px;
    letter-spacing: 2px;
    margin: 0;
    padding-bottom: 20px
}

#map img {
    max-width: 100%;
}


/* LARGE RESOLUTIONS */
@media only screen and (min-width: 800px) {
    /* CONTACT FORM */
    #form {
        margin-top: 80px;
    }

    #contact-form {
        height: 500px;
    }

    
    /* CONTACT SOCIALS */
    #socials {
        display: flex;
    }

    #socials div {
        display: flex;
        justify-content: center;
        margin: 20px;
        max-width: 100%;
    }

    #socials-desc, #map-desc {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 40px;
        letter-spacing: 1px;
    }

    
    /* CONTACT MAP */
    #map-desc {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 40px;
        letter-spacing: 1px;
    }
}