:root {
    --primary-color: #590209;
    --primary-sub: #73020C;
    --secondary-color: #D9985F;
    --secondary-sub: #F2B872;
    --accent-one: #f14620;
    --beige: #F2F2F2;
}

body {
    background: var(--beige);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--primary-sub);
}

.hide-small, .hide {
    display: none;
}

.back-color {
    background: bisque;
}

/* PAGE TITLE */
.title h1{
    letter-spacing: 2px;
    color: black;
    font-size: 35px;
    background: var(--secondary-sub);
    margin: 0px;
    text-align: center;
}



/* LARGE RESOLUTIONS */
@media only screen and (min-width: 800px) { 
    .columns {
        display:flex;
    }

    .one {
        flex: 1;
    }

    .hide-small {
        display: block;
    }
}