/* MOBILE */
#header-title a {
    color: var(--secondary-light);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-decoration: none;
}
header {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    color: var(--secondary-color);
    box-shadow: var(--primary-color) 0px 0px 10px;
    padding: 20px;
    text-align: center;
}

#content-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(25%);
}



/* NAVIGATION */
#main-nav ul {
    list-style-type: none;
    display: block;
    padding: 0;
}

#main-nav a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary-light);
    color: var(--secondary-color);
    height: 40px;
    margin: 2px 0px;
    white-space: nowrap;
    letter-spacing: 1px;
}



@media only screen and (min-width: 800px) { 
    /* HEADER */
    header {
        display: flex;
    }

    #header-title {
        position: absolute;
        left: 250px;
        top: 50px;
    }

    /* NAVIGATION */
    #main-nav ul {
        display: flex;
        padding: 3px;
        position: absolute;
    }

    #main-nav {
        position: relative;
        left: 675px;
        top: 25px;
    }

    #main-nav a {
        margin: 5px;
        padding: 0 15px;
        border-radius: 6%;
        background: none;
        font-size: 20px;
        font-stretch:ultra-condensed;
        padding: 5px;
    }

    #main-nav a.current {
        background: none;
    }
}