
/* ORDER CART */
#options-cart {
    background: var(--secondary-color);
    max-width: auto;
    max-height: 400px;
    margin-bottom: 50px;
    padding: 8px;
}

#options-cart h3 {
    color: var(--primary-color);
}

#cart-checkout-info button {
    background: var(--secondary-color);
    margin: 5px;
    padding: 5px 15px;
    margin-bottom: 0px;
    color: var(--beige);
    border-radius: 6%;
    border-color: var(--secondary-light);
}

#cart-checkout-info {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#cart-list ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

#cart-list {
        background: var(--beige);
        margin: 10px;
        padding: 60px;
        border-radius: 8px;
}



/* ORDER MENU */
.order-item {
    position: relative;
    background: var(--primary-sub);
    color: var(--beige);
    border-radius: 15px;
    margin: 5px;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
}

.order-item button {
    margin: 15px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 10%;
}

.order-item h4 {
    margin: 15px;
}

.order-item img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.order-item p {
    font-size: 12px;
    margin: 15px;
    margin-top: 0px;
}

#item-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    max-width: 500px;
    background: chocolate;
    box-shadow: 4px 4px 10px #24353c;
    padding: 20px;
    z-index: 101;
    border-radius: 10px;
}

#item-dialog img {
    width: 100%;
    height: auto;
    display: block;
}

#dialog-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
}



/* LARGE RESOLUTIONS */
@media only screen and (min-width: 800px) {
    /* ORDER CART */
    #options-cart {
        background: var(--primary-sub);
        max-width: 20%;
        max-height: 100%;
    }

    #cart-checkout-info {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    #cart-list {
        background: var(--beige);
        margin: 10px;
        padding: 60px;
        border-radius: 8px;
        height: 200px;

    }

    /* ORDER MENU */
    .order-item {
        position: relative;
        flex: 1 1 250px;
        max-width: 70%;
        margin: 10px;
        padding-bottom: 0px;
    }

    .order-item img {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 250px;
    }

    .order-item button {
        position: absolute;
        top: 250px;
        left: 245px;
    }

    .order-item-header h4, .order-item-header button  {
        margin-bottom: 0; 
        padding-bottom: 0;
    }

    #menu-options {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 10px auto;
        max-width: 100%;
        gap: 20px;
    }
}