#slideshow {
    position: relative;
    margin-bottom: 25px;
}

#slideshow img {
    height: 300px;
    width: 300px;
    display: block;
    margin: auto;
}

.arrow {
    color: black;
    text-decoration: none;
    size: 3em;
    position: absolute;
    top: 50%;
    background: lightgray;
    border-radius: 3px;
    padding: 5px;
}

#right-arrow {
    right: 5%;
}
#left-arrow {
    left: 5%;
}

@media only screen and (min-width: 800px) {
    #slideshow img {
    height: 400px;
    width: 500px;
    display: block;
    margin: auto;
}
}