#slideshow {
    position: relative;
    margin-bottom: 25px;
}

#slideshow img {
    height: 300px;
    width: 300px;
    display: block;
    margin: auto;
    border-radius: 5px;
}

.arrow {
    color: white;
    text-decoration: none;
    size: 10em;
    position: absolute;
    top: 50%;
    background: var(--accent-one);
    border-radius: 3px;
    padding: 8px;
    cursor: pointer;
}

#right-arrow {
    right: 5%;
}
#left-arrow {
    left: 5%;
}

@media only screen and (min-width: 800px) {
    #slideshow img {
    height: 400px;
    width: 500px;
    display: block;
    margin: auto;
}
}