
#specials section {
    text-align: center;
}

.monthly-pizza section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
}

.monthly-pizza div {
    display: flex;
    justify-content: center;
}

.monthly-pizza h1 {
    margin-bottom: 5px;
}

.monthly-pizza p {
    line-height: 25px;
    margin: 40px;
    margin-bottom: 10px;
}

.specialImg img{
    width: 80%;
    height: 80%;
    object-fit: cover;
    padding:5px;
    border-radius: 5%;
    margin-top: 20px;
    margin-bottom: auto;
}

/* SUGGESTIONS */
#suggestion-form {
    width: 100%;
    background-color: var(--secondary-sub);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10% 0%;

}
#img-prev-section img{
    max-width: 100px;
}

#img-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#img-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%;
}

#suggestion-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.suggestion-item {
    width: 300px;
}

.suggestion-item h {
    padding: 0px;
    margin: 0px;
}

.suggestion-img {
    width: 200px;
}

#suggestion-form button {
    background: var(--primary-color);
    color: var(--secondary-color);
    margin: 5px;
    padding: 10px;
    border-radius: 6%;
    border-color: none;
    font-size: 15px;
    font-weight: bolder;
}

@media only screen and (min-width: 800px) {
    .monthly-pizza section {
        padding-top: 40px;
    }

    .specialImg img{
        margin-top: auto;
    }
}